@import "../../GlobalColors.css";

.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--white);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.change-password-container h3 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.change-password-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.change-password-container form div {
    margin-bottom: 15px;
}

.change-password-container form label {
    margin-bottom: 5px;
    display: block;
}

.change-password-container form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}

.change-password-container form button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.change-password-container form button:hover {
    background-color: var(--gray);
}

label{
    color: var(--main-color);
}

@media (max-width: 768px) {
    .change-password-container {
        width: 90%;
    }

    .change-password-container form button {
        width: 100%;
    }

    .change-password-container form input {
        padding: 15px;
    }

    .change-password-container form label {
        font-size: 16px;
    }

    .change-password-container h3 {
        text-align: center;
        width: 100%;
    }
}
