.sidebar {
    width: 280px;
    background-color: #d3cdcd;
    color: white;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar__logo {
    padding: 20px;
    cursor: pointer;
}

.sidebar__menu {
    padding-top: 20px;
}

.sidebar__menu__item {
    display: flex; /* Ustawienie elementu jako flex container */
    align-items: center; /* Wyśrodkowanie w pionie */
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
}
.sidebar__menu__item__text {
    display: inline-block;
    font-size: 14px; /* Reduced font size */
    text-decoration: none;
}
.sidebar__menu__item.active {
    background-color: #555;
}

.sidebar__menu__item__icon {
    display:block;
    margin-right: 10px;
    /* Ustaw szerokość ikony w zależności od rozmiaru tekstu */
    width: 0.5em; /* Ustaw szerokość ikony na 1em */
    height: auto; /* Użyj auto dla wysokości, aby zachować proporcje */
}

.sidebar__menu__item__text {
    display: block;
}

.sidebar__menu__indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

/* Media query to shrink sidebar on smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .sidebar.collapsed {
        width: 80px;
    }

    .sidebar__logo {
        padding: 10px;
        text-align: center;
    }

    .sidebar__menu__item {
        padding: 10px;
        justify-content: center;
    }

    .sidebar__menu__item__text {
        display: none;
    }

    .sidebar__menu__item__icon {
        margin-right: 0;
    }

    .sidebar__menu__indicator {
        top: 0;
    }
}