.courses-wrapper {
    width: 70%;
    margin: auto;
}

.form-wrapper {
    width: 100%;
}

.search-bar-wrapper {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    width: 80%;
    margin: auto;
}

.table-element {
    display: flex;
    justify-content: space-between;
}

.search-button {
    max-width: 100px;
    vertical-align: middle;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-right: 1em;
}