.PasswordStrength {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
}

.Rectangle {
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

.Text {
    margin-right: 10px;
}

.Weak .Strength {
    color: red;
}

.Medium .Strength {
    color: orange;
}

.Strong .Strength {
    color: green;
}

.Weak .Rectangle {
    background-color: red;
}

.Medium .Rectangle {
    background-color: orange;
}

.Strong .Rectangle {
    background-color: green;
}