.Register {
    margin: 29vh auto;
    max-width: 320px;
}

.RegisterHeader {
    font-size: 38px;
}

.Group {
    margin-top: 20px;
}

.Btn {
    background-color: #8e0000;
    margin-top: 10px;
}

.TextContainer {
    margin-top: 10px;
    font-size: 15px;
    text-align: center; 
}

.TextLink {
    margin-left: 5px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; 
}

.TextLink:hover {
    text-decoration: underline; 
}