body{
    overflow: hidden;
}

.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 29vh auto;
    max-width: 500px;
    overflow: hidden;
    max-height: 800px;
}

.RegisterHeader {
    font-size: 38px;
}

.Group {
    margin-top: 20px;
    width: 100%;
}

.Group input, .Group label {
    width: 35vh;
}

.Btn {
    background-color: #8e0000;
    margin-top: 10px;
    width: 100%;
}

.TextContainer {
    margin-top: 10px;
    font-size: 15px;
    text-align: center; 
}

.TextLink {
    margin-left: 5px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; 
}

.TextLink:hover {
    text-decoration: underline; 
}

.alertContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
