 .offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .offcanvas {
    max-width: 200px;
  }
.navibutton{
    color:rgb(146, 16, 16)!important;
    background-color: white;
    font-weight: 600;
    border-color: white !important;
 }
#menulabel{
  display: inline !important;
  font-weight: 600;
  text-align: justify;
}
.navibutton:hover{
    background-color: rgb(185, 184, 184);
  }
  .nav.nav-pills{
    justify-content: space-evenly;
  } 
  .nav-item{
    color:rgb(146, 16, 16)!important;
    font-weight: 700;
    font-size:1.5em;
  }
 .navibutton.hovered{
    background-color: rgb(185, 184, 184);
    color:rgb(146, 16, 16)!important;
    text-decoration: none;
  }
  #btn{
    position: absolute;
    left:5em;
    background-color: rgb(146, 16, 16);
  }
  #navibar{
    padding: 0%;
    margin: 0%;
    background-color: rgb(107, 107, 107);
  }