 .offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .offcanvas {
    max-width: 250px;
  }
 .Btn{
    color:white !important;
 }

  .Btn:hover{
    background-color: rgb(150, 150, 150);
  }
  .nav.nav-pills{
    justify-content: space-evenly;
  } 
  .nav-item{
    color: rgb(150, 25, 25);
    font-weight: 700;
    font-size:1.5em;
  }
  #btn{
    position: absolute;
    left:5em;
    background-color: rgb(146, 16, 16);
  }
  #logout-btn{
    position:relative;
    right: 5em;
    
  }
  #navibar{
    padding: 0%;
    margin: 0%;
    background-color: rgb(107, 107, 107);
  }
  .logout-container {
    width: 150px; /* Ustaw szerokość kontenera na stałą wartość */
  }