#navibar{
    position: sticky;
    top: 0;
    z-index: 1000; /* zwiększamy z-index, aby navbar był na wierzchu */
  }
  .offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  #lorem{
    
    text-align: center;
    position: absolute;
    width: 8em;
    right: 5em;

  }
  .Btn{
    color:white;
  }
  #iconss{
    color: azure;
  }