.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    margin-top: 100px;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    height: 1000px;
}

.top-column {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    color: #8e0000;
}

.left-column, .right-column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex : 1;
}

.column-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
}

.left-column {
    padding: 10px;
}

.right-column {
    padding: 10px;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.label-button-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #c6bfbf;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover {
    background-color: #e0e0e0;
}

.input-text-size, .input-theme {
    width: 40vw;
    height: 80px;
    background-color: #f4f4f4;
    border: 1px solid #c6bfbf;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}


.input-text-size:focus {
    outline: none;
    border-color: #a0a0a0;
}

