.notes-alert {
    font-size: 0.9rem;
    left: 12vh;
    width: 300px;
    max-width: 300px;
    min-width: 100px;
    top: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
