.register-alert {
    font-size: 0.9rem;
    width: 500px;
    min-width: 500px;
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .register-alert {
        width: 50%;
        max-width: 90%;
        min-width: 350px;
        margin-top: 20px;
    }
}