@import "../../GlobalColors.css";
body{
    overflow: hidden;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 29vh auto;
    max-width: 500px;
    overflow: hidden;
    max-height: 800px;
}

.register-header {
    font-size: 38px;
}

.group {
    margin-top: 20px;
    width: 100%;
}

.group input, .group label {
    width: 35vh;
}

.btn {
    background-color: var(--main-color);
    margin-top: 10px;
    width: 100%;
}

.text-container {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.text-link {
    margin-left: 5px;
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.text-link:hover {
    text-decoration: underline;
}

.alert-container {
    width: 100%;
    display: flex;
    justify-content: center;
}