@import "../../GlobalColors.css";
.password-strength {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
}

.rectangle {
    width: 20px;
    height: 10px;
    margin: 1px 10px 1px;
    border-radius: 10px;
}

.text {
    margin-right: 10px;
}

.weak .strength {
    color: var(--password-weak);
}

.medium .strength {
    color: var(--password-medium);
}

.strong .strength {
    color: var(--password-strong);
}

.weak .rectangle {
    background-color: var(--password-weak);
}

.medium .rectangle {
    background-color: var(--password-medium);
}

.strong .rectangle {
    background-color: var(--password-strong);
}
