@import "../../GlobalColors.css";
body{
    overflow: hidden;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22vh auto;
    min-width: 300px;
    max-width: 500px;
    max-height: 1200px;
    height: 100%;
}

.register-header {
    font-size: 38px;
}

.group {
    margin-top: 20px;
    width: 350px;
}

.group input, .group label {
    width: 350px;
}

.btn {
    background-color: var(--main-color);
    margin-top: 10px;
    width: 100%;
}

.text-container {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.text-link {
    margin-left: 5px;
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.text-link:hover {
    text-decoration: underline;
}

.alert-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 480px) {
    .register {
        margin: 10vh auto;
        min-width: 350px;
        max-width: 90%;
    }

    .register-header {
        font-size: 32px;
    }

    .group {
        width: 300px;
    }

    .group input, .group label {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .text-container {
        font-size: 14px;
    }
}