@import "../../GlobalColors.css";
.calendar {
  margin-top: 10px;
}

.calendar-table {
  margin-left: 13%; 
}

.calendar-form {
  margin-right: 0%; 
  margin-left: auto; 
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  border: 1px solid #ddd; 
  padding: 8px;
}

.calendar th {
  background-color: #f2f2f2;
  text-align: center;
}

.calendar-event-item {
  border: 2px solid var(--main-color); 
  padding: 5px;
  margin: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}
  