@import "../../GlobalColors.css";


.calendar-form h5 {
  text-align: center;
}

.calendar-form .form-control {
  text-align: center;
}
.btn-notes {
  background-color: var(--main-color);
  color: white;
}
.calendar-form .btn-notes {
  display: block;
  text-align: center;
}
.btn-notes:hover {
  background-color: var(--button-gray);
}
