@import "../../GlobalColors.css";
.news {
    min-width: 50%;
    max-width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

body{
    min-height: 410vh;
    text-align: center;
}

.news-img {
    height: 400px;
    object-fit: cover;
}

.news-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card-body {
    flex-grow: 1;
}

.card.fade-in {
    opacity: 1;
}

@keyframes backgroundChange {
    0% {
        background-color: var(--main-color);
    }
    50% {
        background-color: var(--second-main-color);
    }
    100% {
        background-color: var(--main-color);
    }
}

@media(max-width: 768px){
    .news-img {
        height: 200px;
    }
    .news {
        min-width: 100%;
        max-width: 100%;
    }
    body{
        min-height: 1000vh;
    }
}