@import "../../GlobalColors.css";

.modal-overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--black);
  backdrop-filter: blur(4px);
}

.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-content {
  position: relative;
  width: 95%;
  max-width: 80%;
  min-height: 60vh;
  background-color: var(--change-photo-button-background);
  color: var(--button-gray);
  border-radius: 1rem;
  box-shadow: var(--black);
  padding: 1.25rem;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem; 
  border-radius: 0.25rem;
  color: var(--gray);
  background-color: transparent;
  width: 1.5rem; 
  height: 1.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  background-color: var(--change-photo-button-background-hover);
}
