@import "../../GlobalColors.css";

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.avatar-container {
  position: relative;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--change-photo-button-background-hover);
}

.change-photo-btn {
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--change-photo-button-background);
  border: 1px solid var(--change-photo-button-background-hover);
  color: var(--white);
  font-size: 0.75rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-photo-btn:hover {
  background-color: var(--change-photo-button-background-hover);
}

.user-name {
  text-align: center;
  color: var(--text-color);
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.user-role {
  text-align: center;
  color: var(--text-color);
  padding-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}